@model Sindie.ApiService.Core.Contracts.BattleRequests.GetBattleByIdResponse

@{
    ViewData["Title"] = Model.Name;
}

<h1>Battle is running</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<h4>Creatures in battle</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Creatures.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creatures.First().CreatureTemplateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creatures.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creatures.First().HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creatures.First().Effects)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Creatures.OrderByDescending(x => x.Initiative))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatureTemplateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.HP.current/@item.HP.max
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Effects)
                </td>
                <td>
                    <a asp-controller="Battle" asp-action="GetCreatureById" asp-route-battleId="@Model.Id" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <a asp-action="MakeTurn" asp-route-id="@Model.Id">Make next turn</a>
</div>

<p>@TempData["ErrorMessage"]</p>

<div class="container">
    <a asp-controller="Battle" asp-action="Index">Back to Battles</a>
</div>
