@model Sindie.ApiService.Core.Contracts.BodyTemplateRequests.CreateBodyTemplate.CreateBodyTemplateRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateBodyTemplateRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BodyTemplateParts.First().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BodyTemplateParts.First().BodyPartType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BodyTemplateParts.First().DamageModifier)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BodyTemplateParts.First().HitPenalty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BodyTemplateParts.First().MinToHit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BodyTemplateParts.First().MaxToHit)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BodyPartType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DamageModifier)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HitPenalty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MinToHit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxToHit)
                        </td>
                    </tr>*@
                </tbody>
            </table>


            <div class="form-group">
                <label asp-for="BodyTemplateParts" class="control-label"></label>
                <input asp-for="BodyTemplateParts" class="form-control" />
                <span asp-validation-for="BodyTemplateParts" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

