@model IEnumerable<Witcher.Core.Contracts.GameRequests.GetGameResponseItem>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<p>
    <a asp-action="Create">Create New Game</a>
</p>

<form asp-action="Index">
    <p><input type="text" name="name" />Name </p>
    <p><input type="text" name="description" /> Description</p>
    <p><input type="text" name="authorName" /> Author Name</p>
    <p><input type="submit" value="Search" /></p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                @if (item.Users.ContainsKey((Guid)@ViewData["currentUser"]))
                {
                    <td>
                        <a asp-action="Enter" asp-route-id="@item.Id">Enter</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="AskForJoin" asp-route-id="@item.Id" asp-route-userId="@ViewData["currentUser"])">Ask for join</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>

<p>@TempData["ErrorMessage"]</p>

